/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_metallic";
    src: url("../fonts/flaticon_metallic0ec9.woff2?8e956bd10ab82df756eccf21dfd64b3a") format("woff2"),
url("../fonts/flaticon_metallic0ec9.woff?8e956bd10ab82df756eccf21dfd64b3a") format("woff"),
url("../fonts/flaticon_metallic0ec9.eot?8e956bd10ab82df756eccf21dfd64b3a#iefix") format("embedded-opentype"),
url("../fonts/flaticon_metallic0ec9.ttf?8e956bd10ab82df756eccf21dfd64b3a") format("truetype"),
url("../fonts/flaticon_metallic0ec9.svg?8e956bd10ab82df756eccf21dfd64b3a#flaticon_metallic") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_metallic !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-menu:before {
    content: "\f101";
}
.flaticon-down-arrow:before {
    content: "\f102";
}
.flaticon-headphones:before {
    content: "\f103";
}
.flaticon-global:before {
    content: "\f104";
}
.flaticon-search:before {
    content: "\f105";
}
.flaticon-mail:before {
    content: "\f106";
}
.flaticon-share:before {
    content: "\f107";
}
.flaticon-facebook:before {
    content: "\f108";
}
.flaticon-twitter:before {
    content: "\f109";
}
.flaticon-instagram-logo:before {
    content: "\f10a";
}
.flaticon-linkedin:before {
    content: "\f10b";
}
.flaticon-youtube:before {
    content: "\f10c";
}
.flaticon-play-button:before {
    content: "\f10d";
}
.flaticon-right-arrow:before {
    content: "\f10e";
}
.flaticon-supervisor:before {
    content: "\f10f";
}
.flaticon-factory:before {
    content: "\f110";
}
.flaticon-industrial-production:before {
    content: "\f111";
}
.flaticon-iso:before {
    content: "\f112";
}
.flaticon-trophy:before {
    content: "\f113";
}
.flaticon-turning:before {
    content: "\f114";
}
.flaticon-bending:before {
    content: "\f115";
}
.flaticon-beam:before {
    content: "\f116";
}
.flaticon-setting:before {
    content: "\f117";
}
.flaticon-calendar:before {
    content: "\f118";
}
.flaticon-phone:before {
    content: "\f119";
}
.flaticon-nut:before {
    content: "\f11a";
}
.flaticon-manufacturing:before {
    content: "\f11b";
}
.flaticon-engineer:before {
    content: "\f11c";
}
.flaticon-manufacturing-1:before {
    content: "\f11d";
}
.flaticon-test:before {
    content: "\f11e";
}
.flaticon-certificate:before {
    content: "\f11f";
}
.flaticon-gear:before {
    content: "\f120";
}
.flaticon-thunder-bolt:before {
    content: "\f121";
}
.flaticon-star:before {
    content: "\f122";
}
.flaticon-zoom:before {
    content: "\f123";
}
.flaticon-brochure:before {
    content: "\f124";
}
.flaticon-download:before {
    content: "\f125";
}
.flaticon-right:before {
    content: "\f126";
}
.flaticon-approved:before {
    content: "\f127";
}
.flaticon-chat:before {
    content: "\f128";
}
.flaticon-add-user:before {
    content: "\f129";
}
.flaticon-up:before {
    content: "\f12a";
}
.flaticon-phone-1:before {
    content: "\f12b";
}
.flaticon-calendar-1:before {
    content: "\f12c";
}
.flaticon-clock:before {
    content: "\f12d";
}
.flaticon-factory-1:before {
    content: "\f12e";
}
.flaticon-goal:before {
    content: "\f12f";
}
.flaticon-business-vision:before {
    content: "\f130";
}
.flaticon-down-right:before {
    content: "\f131";
}
.flaticon-pistons:before {
    content: "\f132";
}
.flaticon-airplane:before {
    content: "\f133";
}
.flaticon-construction:before {
    content: "\f134";
}
.flaticon-harvester:before {
    content: "\f135";
}
.flaticon-dimensions:before {
    content: "\f136";
}
.flaticon-check:before {
    content: "\f137";
}
.flaticon-compass:before {
    content: "\f138";
}
.flaticon-milling-machine:before {
    content: "\f139";
}
.flaticon-delivery:before {
    content: "\f13a";
}
.flaticon-badge:before {
    content: "\f13b";
}
.flaticon-worker:before {
    content: "\f13c";
}
.flaticon-factory-2:before {
    content: "\f13d";
}
.flaticon-success:before {
    content: "\f13e";
}
.flaticon-quote:before {
    content: "\f13f";
}
.flaticon-cross-button:before {
    content: "\f140";
}
.flaticon-add:before {
    content: "\f141";
}
.flaticon-tools:before {
    content: "\f142";
}
.flaticon-accept:before {
    content: "\f143";
}
.flaticon-user:before {
    content: "\f144";
}
.flaticon-rust:before {
    content: "\f145";
}
.flaticon-steel:before {
    content: "\f146";
}
.flaticon-steel-1:before {
    content: "\f147";
}
.flaticon-gears:before {
    content: "\f148";
}
.flaticon-career:before {
    content: "\f149";
}
.flaticon-diamond:before {
    content: "\f14a";
}
.flaticon-share-1:before {
    content: "\f14b";
}
.flaticon-filter:before {
    content: "\f14c";
}
.flaticon-letter:before {
    content: "\f14d";
}
.flaticon-map:before {
    content: "\f14e";
}
.flaticon-welding:before {
    content: "\f14f";
}
.flaticon-block:before {
    content: "\f150";
}
.flaticon-screwdriver:before {
    content: "\f151";
}
.flaticon-place:before {
    content: "\f152";
}
.flaticon-wheel-saw:before {
    content: "\f153";
}
.flaticon-bending-1:before {
    content: "\f154";
}
.flaticon-tick:before {
    content: "\f155";
}
.flaticon-user-1:before {
    content: "\f156";
}
.flaticon-filter-1:before {
    content: "\f157";
}
.flaticon-calendar-2:before {
    content: "\f158";
}
.flaticon-home:before {
    content: "\f159";
}
.flaticon-screw:before {
    content: "\f15a";
}
.flaticon-newsletter:before {
    content: "\f15b";
}
.flaticon-nut-1:before {
    content: "\f15c";
}
.flaticon-check-circle:before {
    content: "\f15d";
}
.flaticon-tags:before {
    content: "\f15e";
}
.flaticon-more:before {
    content: "\f15f";
}
.flaticon-reply-all:before {
    content: "\f160";
}
.flaticon-close:before {
    content: "\f161";
}

